$aeacc-padding: 24px;

$aeacc-title-font-size: 1.2em;
$aeacc-title-color: #000000;
$aeacc-title-background: #a9c9df;
$aeacc-title-font-weight: lighter;
$aeacc-hover-title-font-weight: bold;
$aeacc-active-title-font-weight: bold;

$aeacc-description-color: #000000;
$aeacc-description-background: transparent;

@import '~$lib/scss';
