@import '~normalize-css/normalize.css';
@import '~suitcss-base/lib/base.css';
@import 'theme';

.aeacc-AetherAccordion {
  > dt {
    background-color: $aeacc-title-background;
    color: $aeacc-title-color;
    cursor: pointer;

    font-family: $aeacc-title-font-family;
    font-size: $aeacc-title-font-size;
    font-weight: $aeacc-title-font-weight;

    padding: $aeacc-padding;

    transition-duration: 200ms;
    transition-property: color, background-color;
    transition-timing-function: ease-out;

    user-select: none;

    &:hover {
      background-color: $aeacc-hover-title-background;
      color: $aeacc-hover-title-color;
      font-weight: $aeacc-hover-title-font-weight;
    }

    &.is-active {
      background-color: $aeacc-active-title-background;
      color: $aeacc-active-title-color;
      font-weight: $aeacc-active-title-font-weight;
    }
  }

  > dd {
    background-color: $aeacc-description-background;
    color: $aeacc-description-color;
    font-family: $aeacc-description-font-family;
    font-size: $aeacc-description-font-size;
    font-weight: $aeacc-description-font-weight;

    // description hidden
    max-height: 0;
    overflow-y: hidden;

    // note: this transition is hybrid since it gets some help from
    // js when fired, see [transition-helper] comments on js code
    transition-duration: $aeacc-transition-duration;
    transition-property: max-height;
    transition-timing-function: $aeacc-transition-timing-function;
    will-change: max-height;

    > p {
      margin: $aeacc-padding;
    }

    > * {
      opacity: $aeacc-inactive-description-opacity;
      transform: $aeacc-inactive-description-transform;
      transition-duration: $aeacc-transition-duration;
      transition-property: opacity, transform;
      transition-timing-function: $aeacc-transition-timing-function;
      will-change: opacity, transform;
    }
  }

  > dt.is-active + dd {
    // description dropped
    max-height: none;

    > * {
      opacity: $aeacc-active-description-opacity;
      transform: $aeacc-active-description-transform;
      transition-delay: $aeacc-transition-duration / 2;
    }
  }
}
