@import "~normalize.css";
@import "~suitcss-base/lib/base.css";

.aether-accordion {
  font-family: sans-serif;
  color: #efefef;

  dt {
    cursor: pointer;
    user-select: none;

    padding: 12px;
    background: #55ab54;

    &.is-active {
      font-weight: 700;
    }
  }

  dd {
    background: #333;

    font-weight: 300;

    p {
      margin: 12px;
    }

    // description hidden
    overflow-y: hidden;
    max-height: 0;

    // note: this transition is hybrid since it gets some help from
    // js when fired, see [transition-helper] comments on js code
    transition: max-height 300ms ease-in-out;
  }

  dt.is-active + dd {
    // description dropped
    max-height: none;
  }
}
