@import '~normalize.css';
@import '~suitcss-base/lib/base.css';
@import 'settings';

.aeacc-AetherAccordion {
  color: $ae-title-color;
  font-family: sans-serif;

  > dt {
    background: $ae-title-background;
    cursor: pointer;
    padding: 12px;
    user-select: none;

    &.is-active {
      font-weight: 700;
    }
  }

  > dd {
    background: $ae-description-background;
    font-weight: 300;

    // description hidden
    max-height: 0;
    overflow-y: hidden;

    // note: this transition is hybrid since it gets some help from
    // js when fired, see [transition-helper] comments on js code
    transition: max-height 300ms ease-in-out;
    will-change: max-height;

    > p {
      margin: 12px;
    }

    > * {
      opacity: 0;
      transform: translateX(-70px);
      transition-duration: 300ms;
      transition-property: opacity, transform;
      transition-timing-function: ease-in-out;
      will-change: opacity, transform;
    }
  }

  > dt.is-active + dd {
    // description dropped
    max-height: none;

    > * {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 150ms;
    }
  }
}
