// sass-lint:disable class-name-format

.addon-notes-container {
  summary {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;

    // remove ugly stuff
    outline: none;
    user-select: none;

    + br {
      display: none;
    }
  }
}
