{
  "extends": [
    "schibsted-chai"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  },
  "globals": {
    "expect": false,
    "sinon": false
  }
}
