$aeacc-transition-duration: 800ms;
$aeacc-transition-timing-function: cubic-bezier(.215, .61, .355, 1);

$aeacc-description-transition-delay: unset;
$aeacc-inactive-description-transform: rotate3d(1, 2, -1, 60deg);
$aeacc-active-description-transform: rotate3d(0, 0, 0, 0);

@import '~$lib/style';
