@import '~$lib/scss';

$button-background-color: #cccccc;
$button-border-color: #999999;

.story--actions {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;

  button {
    @include colorize($aeacc-colors) {
      background: lighten($color, 30%);
      border-color: lighten($color, 10%);
    }

    background: $button-background-color;
    border: 1px solid $button-border-color;
    margin: 5px;
    padding: 7px;
  }
}

.story--flex {
  display: flex;

  > * {
    flex-grow: 1;
  }
}
