$aeacc-transition-duration: 700ms;
$aeacc-title-background: #9546b4;
$aeacc-active-title-background: #4846b4;
$aeacc-active-title-color: #fbff00;
$aeacc-description-background: #120935;

@import '../../src/index';
